:root{
    --background-color: #ECEADA;
    --background-text-color: #0F0F0F;
    --primary-color: #75A883;
    --primary-text-color: #DFE2F6;
    --primary-color-low-opacity: #5e8e66c4;

    --secondary-color: #A8C694;

    --accent-color: #ECECDA;
    --accent-text-color: #FAF9FB;

    --nav-height: 65px;
    --hero-text-banner-height: 95px;

    --padding-side: 2em;

    --p-font-size: 0.9rem;
    --p-line-height: 1.6em;
}

body, html {
    font-family: 'Lexend', sans-serif;
    color: red;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--background-text-color);
    margin-block: 0px;
}

nav {
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0px;
    width: calc(100% - var(--padding-side) * 2);
    justify-content: space-between;
    padding-inline: var(--padding-side);
    align-items: center;
    height: var(--nav-height);
    background-color: var(--background-color);
    text-decoration: none;
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.08);
}
    
nav a {
    color: var(--background-text-color);
    text-decoration: none;
    text-align: right;
    font-weight: 500 !important;
}

.leftNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.logo {
    font-size: 20px;
}

.logo a {
    display: flex;
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0px;
}

.nav-links li {
    list-style: none;
    transition: opacity 0.2s ease-in-out;
}

.burger {
    display: none;
    cursor: pointer;
    margin-right: calc(var(--padding-side) - 8px);
}

.burger div {
    width: 30px;
    height: 2.5px;
    /* border-radius: 2px; */
    background-color: var(--background-text-color);
    margin-block: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    :root{
        --nav-height: 75px;
        --p-font-size: 1.1rem;
    }

    .nav-links {
        z-index: -2;
        background: var(--primary-color-low-opacity);
        box-shadow: 8px 0px 15px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(22px);
        -webkit-backdrop-filter: blur(22px);
        justify-content: flex-start;
        padding-left: 0px;
        padding-top: 70px;
        position: fixed;
        left: 0px;
        height: 100vh;
        top: 0;
        display: none;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(50%);
        transition: transform 0.3s ease-out,
                    opacity 0.3s ease-out;
    }
    nav .nav-links ul {
        margin-left: -20px;
    }
    nav .nav-links li a{
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 50px;
        color: #F5F5EC;
    }
    .burger {
        display: block;
        z-index: 3;
    }

    nav {
        padding-inline: 14px;
        width: calc(100% - 14px * 2);
    }

    nav .leftNav {
        margin-left: calc(var(--padding-side) - 14px);
    }
}

.nav-active {
    gap: 12px;
    display: flex;
    opacity: 1;
    z-index: 2;
    transform: translateX(0%);
}

.nav-active li {
    opacity: 1;
}

.toggle .line1 {
    transform: translateY(8px) rotate(-45deg) ;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: translateY(-8px) rotate(45deg)
}

.title{
    background-color: var(--background-color) ;
    margin-top: var(--nav-height);
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-weight: 600;
    font-size: 1.8em;
}

.CTA {
    text-wrap: nowrap;
    background: var(--secondary-color);
    border-radius: 2em;
    font-size: 1rem;
    color: var(--background-text-color);
    padding: 0.8em 1.7em;
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 600 !important;
}

.CTA svg{
    stroke-width: 0.5;
}


footer {
    padding: 50px var(--padding-side);
    color: var(--background-text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--primary-color);
}

footer a, footer p:not(.day, .time), footer ol {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.8em;
    margin-block: 0px;
    color: var(--background-text-color);
    padding: 0;
    list-style: none;
    text-decoration: none;
}

footer .dayTime>* {
    text-decoration: none;
}

.time {
    width: 150px;
    text-align: left;
    margin-left: 20px;
}

.dayTime {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav {
    display: flex;
    flex-direction: column;
}

.announcement {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    padding: 1em 2em;
    margin-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.announcement a {
    color: #0F0F0F;
    text-decoration: none;
}

footer h3 {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: var(--background-text-color);
    margin-bottom: 10px;
}

.socials {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.socials a {
    color: var(--background-text-color);
    transition: opacity 0.2s;
}

.socials a:hover {
    opacity: 0.7;
}

footer h3:not(footer .contact h3) {
    margin-top: 30px;
}

.lucent {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.closedNotice {
    max-width: 260px;
}

@media screen and (min-width: 620px) {
    .announcement {
        text-align: center;
    }
}
@media screen and (min-width: 850px) {
    :root {
        --padding-side: 4.2em;
    }

    nav a.CTA {
        padding: 0.8em 1.5em;
    }

    .footerSections {
        width: 100%;
        min-width: 700px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        align-items: flex-start;
    }
    footer h3 {
        margin-top: 30px;
    }

    .lucent {
        text-align: end;
    }
}